.nav-title {
    font-size: 35px;
}

.nav-sub-title {
    font-size: 15px;
}

.main_visual {
    text-align: center;
    height: 900px;
    background: url("../image/vegetables.jpg");
    background-size: cover;
}

.main_visual h1 {
    color: white;
    padding-top: 250px;
    font-weight: 600;
    /* 文字の縁 */
    text-shadow: 1px 1px 0 black;
}

.main_visual h2 {
    margin: 50px 0;
    color: rgb(255, 187, 51);
    font-weight: 800;
    /* 文字の縁 */
    text-shadow: 1px 1px 0 black;
}

.inner {
    display: inline-block;
    margin: 50px 30px;
}

.inner h6 {
    color: white;
    text-shadow: 1px 1px 0 black;
}

.step {
    height: 250px;
    width: 200px;
    background-color: rgb(255, 187, 51);
    border-radius: 5px;
}

.r_step {
    background-color: rgb(50, 181, 229);
}

.step p {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 0 black;
    margin-top: 40px;
}

.logo i {
    font-size: 120px;
    color: white;
}

.logo_1 i {
    font-size: 60px;
    color: white;
    margin-top: 50px;
}


/* トップページの投稿など */

.sub_visual {
    width: 500px;
    height: 1100px;
    float: left;
}

.sub_visual .box {
    margin: 50px auto;
    text-align: left;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    list-style: none;
    padding: 10px;
}

.box h6 {
    text-align: center;
}

.box li {
    margin: 15px 10px;
}

.box li a {
    color: #747373;
    width: 200px;
    position: relative;
}

.box_1 li a {
    color: #747373;
    width: 200px;
    position: relative;
}


/* トップページの表示一覧 */

.sub_visual_1 {
    height: 1200px;
}


/* 投稿画面の矢印 */

.arrow {
    position: absolute;
    left: 160px;
    top: 2px;
}

.introduction_image {
    margin-bottom: 50px;
    text-align: left;
}

.exit {
    float: right;
}


/* カードのタイトル */

.card-title {
    color: black;
}

.center h1 {
    text-align: center !important;
}

.font {
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: 800;
}

.product-title {
    margin: 0;
}

.producer_image img {
    border-radius: 50%;
    border: 1px solid black;
}

.product-text p {
    margin: 0;
}

.f-vege a {
    color: white;
}

.f-vege a:hover {
    color: white;
}

.f-vege i {
    font-size: 50px;
}

.f-vege span {
    font-size: 50px;
}

.sns a i {
    font-size: 30px;
}


/* マイページ */

.my_page {
    max-width: 1000px;
    margin: 0 auto;
    height: 800px;
}

.information {
    margin: 100px 0;
}

.my_image {
    float: left;
    margin: 0 200px 0 50px;
}

.information ul {
    list-style: none;
}

.information ul li {
    font-size: large;
    margin-top: 10px;
}


/* マイページここまで */


/* 商品詳細ここから */

.show-table tr {
    border-bottom: 0.2px solid #747373;
    text-align: right;
}

.show table {
    margin: 50px 0;
}

.show table tr {
    text-align: left;
}

.show table tr th {
    padding: 20px 0;
    font-size: 25px;
}

.show table tr td {
    padding: 20px 0;
    font-size: 25px;
}

.show form .same-width {
    width: 800px;
    margin: 0 auto;
}


/* 商品詳細ここまで */

.text-danger {
    color: red;
}


/* カート画面 */

.cart__sub-total p {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}

.product-cart-img {
    border-radius: 5px;
}


/* お気に入り画面 */

.favorite_list {
    color: black;
}

.favorite_list:hover {
    color: black;
}


/* ログインユーザーネーム */

.user-name p {
    margin: 10px 10px 0 0;
    color: white;
}


/* 生産者リスト */

.point {
    color: black;
}


/* 投稿画面 */

.form-select {
    width: 1060px;
    height: 50px;
    color: rgb(117, 117, 117);
}

.mw-1000 {
    max-width: 1000px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.center {
    margin: 0 auto;
}