.main_visual {
    text-align: center;
    height: 900px;
    background: url("../image/vegetables.jpg");
    background-size: cover;
}

.main_visual h1 {
    color: white;
    padding-top: 250px;
    font-weight: 600;
    /* 文字の縁 */
    text-shadow: 1px 1px 0 black;
}

.main_visual h2 {
    color: rgb(189, 189, 238);
    font-weight: 600;
    /* 文字の縁 */
    text-shadow: 1px 1px 0 black;
}

.inner {
    display: inline-block;
    margin: 50px 30px;
}

.inner h6 {
    color: white;
    text-shadow: 1px 1px 0 black;
}


/* トップページの投稿など */

.sub_visual {
    width: 500px;
    float: left;
}

.sub_visual .box {
    margin: 50px auto;
    text-align: left;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    list-style: none;
    padding: 10px;
}

.box_1 li a {
    color: #747373;
    width: 200px;
    position: relative;
}

.box li {
    margin-bottom: 10px;
}


/* 投稿画面の矢印 */

.arrow {
    position: absolute;
    left: 160px;
    top: 2px;
}

.introduction_image {
    margin-bottom: 50px;
    text-align: left;
}

.exit {
    float: right;
}


/* カードのタイトル */

.card-title {
    color: black;
}

.center h1 {
    text-align: center !important;
}

.font {
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: 800;
}

.f-vege i {
    font-size: 50px;
}

.f-vege span {
    font-size: 50px;
}

.sns a i {
    font-size: 30px;
}


/* マイページ */

.my_page {
    max-width: 1000px;
    margin: 0 auto;
    height: 800px;
}

.information {
    margin: 100px 0;
}

.my_image {
    float: left;
    margin: 0 200px 0 50px;
}

.information ul {
    list-style: none;
}

.information ul li {
    font-size: large;
    margin-top: 10px;
}


/* マイページここまで */


/* 商品詳細ここから */

.show table {
    margin: 50px 0 50px 100px;
}

.show table tr {
    text-align: left;
}

.show table tr th {
    padding: 10px 0;
    font-size: 30px;
}

.show table tr td {
    padding: 10px 0;
    font-size: 30px;
}

.show form .same-width {
    width: 800px;
    margin: 0 auto;
}


/* カート画面 */

.cart__sub-total p {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}


/* 商品詳細ここまで */

.mw-1000 {
    max-width: 1000px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.center {
    margin: 0 auto;
}